{%- extends "../+layout.html" -%}
{%- import "icons.html" as icons -%}

{%- block page_title -%}
  NUT Web - {{device.name}}
{%- endblock page_title -%}

{%- macro tab_button(name, tab_name ,title, icon, is_active) -%}
  {%- let base_path = askama::get_value::<crate::config::uri_path::UriPath>("HTTP_SERVER__BASE_PATH")? -%}
  <a
    {% if is_active %}
      class="tab tab-active"
      hx-disable
    {%- else -%}
      class="tab"
    {%- endif %}
    hx-get="{{base_path}}/ups/{{namespace | urlencode_strict}}/{{name | urlencode_strict}}?tab={{tab_name}}&section=tab_content"
    hx-indicator="#indicator"
    hx-target="#tab-content"
    hx-swap="innerHTML"
    hx-trigger="click"
    hx-push-url="{{base_path}}/ups/{{namespace | urlencode_strict}}/{{name | urlencode_strict}}?tab={{tab_name}}"
  >
    {%- call icons::get_svg(icon, 14) -%}{%- endcall -%}
    <span class="mx-2">{{title}}</span>
  </a>
{%- endmacro -%}

{%- block content -%}
  {%- let base_path = askama::get_value::<crate::config::uri_path::UriPath>("HTTP_SERVER__BASE_PATH")? -%}

  <div class="flex flex-col gap-6">
    <div class="content-card flex flex-row flex-wrap gap-2 justify-between">
      <div class="basis-full md:basis-auto md:text-start text-center">
        <h1 class="font-bold leading-8 text-primary text-xl">{{device.name}}<span class="font-light opacity-70">@{{namespace}}</span></h1>
        {%- if let Some(mfr) = device.variables.get(nut_webgui_upsmc::VarName::UPS_MFR) -%}
          <p class="font-light leading-6 text-secondary">{{mfr}}</p>
        {%- endif -%}
        {%- if let Some(model) = device.variables.get(nut_webgui_upsmc::VarName::UPS_MODEL) -%}
          <p class="font-light leading-6 text-accent">{{model}}</p>
        {%- endif -%}
        <p class="font-light mt-1 opacity-60 text-xs">{{device.desc}}</p>
      </div>
      <div class="basis-full md:basis-auto md:max-w-72" >
        <div class="flex flex-col gap-1 justify-center">
          <h1 class="font-bold leading-8 text-center text-xl">Status</h1>
          <div
            id="ups_status"
            class="flex flex-row flex-wrap gap-1 justify-center"
            hx-ext="morph"
            hx-get="{{base_path}}/ups/{{namespace | urlencode_strict}}/{{device.name | urlencode_strict}}?section=status"
            hx-indicator="#indicator"
            hx-swap="morph:innerHTML"
            hx-trigger="every {{upsd_config.poll_interval}}s"
          >
            {%- block ups_status -%}
              {%- match device.get_beeper_status() -%}
                {%- when Some with (true) -%}
                  <span class="badge badge-outline badge-success text-nowrap text-xs tooltip tooltip-bottom" data-tip="Beeper is enabled">
                    {%- call icons::get_svg("volume-2", 16) -%}{%- endcall -%}
                    <span class="uppercase">Beeper-On</span>
                  </span>
                {%- when Some with (false) -%}
                  <span class="badge badge-outline badge-warning text-nowrap text-xs tooltip tooltip-bottom" data-tip="Beeper is disabled">
                    {%- call icons::get_svg("volume-x", 16) -%}{%- endcall -%}
                    <span class="uppercase">Beeper-Off</span>
                  </span>
                {%- when None -%}
              {%- endmatch -%}
              {%- for status_detail in crate::http::hypermedia::ups_status::StatusDetailIter::new(*device.status) -%}
                <span class="badge badge-outline text-nowrap text-xs tooltip tooltip-bottom {{status_detail.class.as_badge()}}" data-tip="{{status_detail.desc}}">
                  {%- call icons::get_svg(status_detail.icon_name, 16) -%}{%- endcall -%}
                  <span class="uppercase">{{status_detail.name}}</span>
                </span>
              {%- endfor -%}
            {%- endblock ups_status -%}
          </div>
        </div>
      </div>
    </div>
    <div id="tab-content" class="flex flex-col gap-6" hx-ext="morph">
      {%- block tab_content -%}
        {%- let permission = askama::get_value::<crate::auth::permission::Permissions>("USER_PERMISSION")? -%}

        <div id="tab-control" class="flex flex-row justify-center">
          <div role="tablist" class="md:w-fit tabs tabs-box w-full">
            {%- let template_type = tab_template.as_type_str() -%}

            {%- call tab_button(device.name, tab_name = "grid", title = "Grid View", icon = "grid", is_active = (template_type == "grid")) -%}{%- endcall -%}
            {%- call tab_button(device.name, tab_name = "variables", title = "Variables", icon = "table", is_active = (template_type == "variables")) -%}{%- endcall -%}
            {%- call tab_button(device.name, tab_name = "clients", title = "Clients", icon = "monitor", is_active = (template_type == "clients")) -%}{%- endcall -%}

            {%- if permission.has(crate::auth::permission::Permissions::FSD) || permission.has(crate::auth::permission::Permissions::INSTCMD) -%}
              {%- call tab_button(device.name, tab_name = "commands", title = "Commands", icon = "play", is_active = (template_type == "commands")) -%}{%- endcall -%}
            {%- endif -%}

            {%- if permission.has(crate::auth::permission::Permissions::SETVAR) -%}
              {%- call tab_button(device.name, tab_name = "rw", title = "Edit", icon = "edit", is_active = (template_type == "rw")) -%}{%- endcall -%}
            {%- endif -%}
          </div>
        </div>
        <div id="tab-body">
          {{tab_template | safe}}
        </div>
      {%- endblock tab_content -%}
    </div>
  </div>
{%- endblock content -%}
