{%- import "icons.html" as icons -%}

<div class="content-card flex flex-col gap-4">
  <h2 class="opacity-60 text-lg tracking-wide">Commands</h2>
  <label class="input input-ghost input-sm opacity-60 tracking-wide">
    {%- call icons::get_svg("search", 16) -%}
    <input type="search" placeholder="Filter" name="command-filter" maxlength="64" autocomplete="off" />
  </label>
  <nut-search-list for="command-filter" class="list">
    {%- for cmd in device.commands -%}
      <li class="list-row" search-value="{{cmd}}">
        <div></div>
        <div class="flex flex-row gap-3 list-col-grow">
          <div class="grow">
            <p class="break-all font-bold text-primary">
              {{cmd}}
            </p>
            {%- if let Some(desc) = descriptions.get(cmd.as_str()) -%}
              <p class="font-light list-col-wrap opacity-70 text-xs"> {{desc}} </p>
            {%- endif -%}
          </div>
          <form>
            <nut-confirm-button
              hx-post="/ups/{{device.name | urlencode_strict}}/command"
              hx-swap="none"
              hx-trigger="command-confirmed"
              cancel-text="Cancel"
              class="btn btn-ghost btn-primary"
              confirm-text="Run"
              message="Are you sure about the run '{{cmd}}' command?"
              name="command"
              target-event="command-confirmed"
              title="Command Confirmation"
              value="{{cmd}}"
            >
              {%- call icons::get_svg("play", 24) -%}
            </nut-confirm-button>
          </form>
        </div>
      </li>
    {%- endfor -%}
  </nut-search-list>
</div>
