{%- import "icons.html" as icons -%}
<!doctype html>
<html lang="en" {% if let Some(theme) = default_theme -%} data-theme="{{theme}}" {%- else %} data-theme="dark" {%- endif -%} >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{base_path | urlencode}}/static/index.js?h={{nut_webgui_client::JS.short_hash()}}" rel="preload" as="script" />
    <link href="{{base_path | urlencode}}/static/style.css?h={{nut_webgui_client::CSS.short_hash()}}" rel="preload" as="style"/>
    <title>
      {%- block page_title -%}{%- endblock page_title -%}
    </title>
    <link href="{{base_path | urlencode}}/static/style.css?h={{nut_webgui_client::CSS.short_hash()}}" rel="stylesheet"/>
    <link rel="icon" href="{{base_path | urlencode}}/static/icon.svg" />

    {%- if let Some(theme) = default_theme -%}
      <script>
        "use strict";
        var t=localStorage.getItem("app_theme");
        if(t){document.documentElement.setAttribute("data-theme",t)}
      </script>
    {%- else -%}
      <script>
        "use strict";
        var o=window.matchMedia("(prefers-color-scheme: dark)");
        var t=localStorage.getItem("app_theme")||(o&&o.matches&&"dark")||"light";
        if(t){document.documentElement.setAttribute("data-theme",t)}
      </script>
    {%- endif -%}

    <script src="{{base_path | urlencode}}/static/index.js?hash={{nut_webgui_client::JS.short_hash()}}" defer></script>
    {%- block page_head -%}{%- endblock page_head -%}
  </head>
  <body>
    <div id="notifications" class="md:w-xs toast w-full z-50"></div>
    <div class="drawer drawer-end">
      <input id="menu-toggle" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col justify-between min-h-screen">
        <header class="bg-base-200 navbar shadow-sm">
          <div class="navbar-start">
            <div class="dropdown">
              <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                {%- call icons::get_svg("menu", 24) -%}
              </div>
              <ul
                tabindex="0"
                class="menu menu-sm md:h-fit dropdown-content bg-base-100 rounded-box w-64 z-99 mt-3 p-2 shadow">
                <li>
                  <a class="text-lg" href="{{base_path | urlencode}}/">
                    {%- call icons::get_svg("columns", 18) -%} Devices
                  </a>
                </li>
                <li>
                  <a class="text-lg" href="{{base_path | urlencode}}/server">
                    {%- call icons::get_svg("server", 18) -%} Server
                  </a>
                </li>
              </ul>
            </div>
            <a class="btn btn-ghost text-xl" href="{{base_path | urlencode}}/">
              <img width="32" height="32" src="{{base_path | urlencode}}/static/icon.svg" alt="icon" />
              <span class="hidden mx-1 sm:inline-block">NUT Web Monitor</span>
            </a>
          </div>
          <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
              <li>
                <a class="text-lg" href="{{base_path | urlencode}}/">
                  {%- call icons::get_svg("columns", 18) -%} Devices
                </a>
              </li>
              <li>
                <a class="text-lg" href="{{base_path | urlencode}}/server">
                  {%- call icons::get_svg("server", 18) -%} Server
                </a>
              </li>
            </ul>
          </div>
          <div class="navbar-end">
            <div class="htmx-send-error-indicator">
              <div class="text-error tooltip tooltip-bottom" data-tip="Network connection lost">
                {%- call icons::get_svg("wifi-off", 18) -%}
              </div>
            </div>
            <div id="indicator" class="cursor-default htmx-indicator">
              <div
                class="text-success tooltip tooltip-bottom"
                data-tip="Updating page"
              >
                <span class="cursor-default loading loading-md loading-spinner text-info"></span>
              </div>
            </div>
            <label
              class="btn btn-circle btn-ghost drawer-button"
              for="menu-toggle"
              hx-get="/_layout/themes"
              hx-target="#themes-panel"
              hx-trigger="click once, pointerenter once"
            >
              {%- call icons::get_svg("sliders", 18) -%}
            </label>
          </div>
        </header>
        <div  class="flex flex-row grow justify-center lg:p-16 md:p-14 p-3 w-full">
          <div id="page_content" class="max-w-384 w-full">
            {%- block content -%} {%- endblock content -%}
          </div>
        </div>
        <footer class="bg-base-200 flex flex-row footer p-3">
          <aside>
            {%- let app_info = crate::http::hypermedia::utils::get_app_info() -%}
            <a
              class="font-light link text-xs"
              href="https://github.com/SuperioOne/nut_webgui/releases/tag/v{{app_info.version}}"
            >
              <span>Version: {{app_info.version}}</span>
            </a>
          </aside>
          <div>
        </footer>
      </div>
      <div class="drawer-side">
        <label for="menu-toggle" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="bg-base-200 min-h-full p-4 sm:w-80 w-full">
          <div class="flex flex-row items-center justify-between mb-3">
            <h3 class="font-bold">
              Themes
            </h3>
            <label for="menu-toggle" class="btn btn-circle btn-ghost btn-sm drawer-button">
              {%- call icons::get_svg("x", 16) -%}
            </label>
          </div>
          <div id="themes-panel">
            <div class="flex flex-col gap-4 w-full">
              <div class="h-32 skeleton w-full"></div>
              <div class="h-32 skeleton w-full"></div>
              <div class="h-32 skeleton w-full"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
