{%- import "icons.html" as icons -%}
{%- let base_path = askama::get_value::<crate::config::uri_path::UriPath>("HTTP_SERVER__BASE_PATH")? -%}
{%- let default_theme = askama::get_value::<Box<str>>("DEFAULT_THEME") -%}
{%- let username = askama::get_value::<crate::auth::username::Username>("USER_NAME") -%}

<!doctype html>
<html lang="en" {% if let Ok(theme) = default_theme -%} data-theme="{{theme}}" {%- else -%} data-theme="dark" {%- endif -%} >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{base_path}}/static/index.js?h={{nut_webgui_client::JS.short_hash()}}" rel="preload" as="script" />
    <link href="{{base_path}}/static/style.css?h={{nut_webgui_client::CSS.short_hash()}}" rel="preload" as="style"/>
    <title>
      {%- block page_title -%}{%- endblock page_title -%}
    </title>
    <link href="{{base_path}}/static/style.css?h={{nut_webgui_client::CSS.short_hash()}}" rel="stylesheet"/>
    <link rel="icon" href="{{base_path}}/static/icon.svg?h={{nut_webgui_client::ICON.short_hash()}}" />

    {%- if let Ok(theme) = default_theme -%}
      <script>
        "use strict";
        var t=localStorage.getItem("app_theme");
        if(t){document.documentElement.setAttribute("data-theme",t)}
      </script>
    {%- else -%}
      <script>
        "use strict";
        var o=window.matchMedia("(prefers-color-scheme: dark)");
        var t=localStorage.getItem("app_theme")||(o&&o.matches&&"dark")||"light";
        if(t){document.documentElement.setAttribute("data-theme",t)}
      </script>
    {%- endif -%}

    <script src="{{base_path}}/static/index.js?h={{nut_webgui_client::JS.short_hash()}}" defer></script>
    {%- block page_head -%}{%- endblock page_head -%}
  </head>
  <body>
    <div id="notifications" class="md:w-md toast w-full z-99"></div>
    <div class="drawer drawer-end">
      <input id="menu-toggle" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col justify-between min-h-screen">
        <header class="bg-base-200 navbar px-6 shadow-sm">
          <div class="navbar-start">
            <div class="dropdown">
              <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                {%- call icons::get_svg("menu", 24) -%}
              </div>
              <ul
                tabindex="0"
                class="bg-base-200 dropdown-content md:h-fit menu mt-4 p-2 rounded-box shadow-lg w-64 z-99"
              >
                <li>
                  <a class="text-lg" href="{{base_path}}/">
                    {%- call icons::get_svg("columns", 18) -%} Devices
                  </a>
                </li>
                <li>
                  <a class="text-lg" href="{{base_path}}/topology">
                    {%- call icons::get_svg("map", 18) -%} Topology
                  </a>
                </li>
                <li>
                  <a class="text-lg" href="{{base_path}}/connection">
                    {%- call icons::get_svg("activity", 18) -%} Connections
                  </a>
                </li>
                <li>
                  <a class="text-lg" href="{{base_path}}/system">
                    {%- call icons::get_svg("info", 18) -%} System
                  </a>
                </li>
              </ul>
            </div>
            <a class="btn btn-ghost text-xl" href="{{base_path}}/">
              <img width="32" height="32" src="{{base_path}}/static/icon.svg?h={{nut_webgui_client::ICON.short_hash()}}" alt="icon" />
              <span class="hidden mx-1 sm:inline-block">NUT Web Monitor</span>
            </a>
          </div>
          <div class="hidden lg:flex navbar-center">
            <ul class="menu menu-horizontal px-1">
              <li>
                <a class="text-lg" href="{{base_path}}/">
                  {%- call icons::get_svg("columns", 18) -%} Devices
                </a>
              </li>
              <li>
                <a class="text-lg" href="{{base_path}}/topology">
                  {%- call icons::get_svg("map", 18) -%} Topology
                </a>
              </li>
              <li>
                <a class="text-lg" href="{{base_path}}/connection">
                  {%- call icons::get_svg("activity", 18) -%} Connections
                </a>
              </li>
              <li>
                <a class="text-lg" href="{{base_path}}/system">
                  {%- call icons::get_svg("info", 18) -%} System
                </a>
              </li>
            </ul>
          </div>
          <div class="navbar-end">
            <div id="indicator" class="cursor-default htmx-indicator">
              <div
                class="text-success tooltip tooltip-bottom"
                data-tip="Updating page"
              >
                <span class="loading loading-md loading-spinner text-info"></span>
              </div>
            </div>
            {%- if let Ok(username) = username -%}
              <div class="dropdown dropdown-end">
                <div
                   tabindex="0"
                   role="button"
                   class="avatar avatar-placeholder btn btn-circle btn-ghost"
                   hx-get="{{base_path}}/_layout/themes"
                   hx-target="#themes-panel"
                   hx-trigger="click once, pointerenter once"
                >
                  <div class="bg-secondary rounded-full text-secondary-content uppercase w-10">
                    {{username.get_initials()}}
                  </div>
                </div>
                <ul tabindex="0" class="bg-base-200 dropdown-content menu menu-lg mt-5 p-2 rounded-box shadow-lg w-52 z-99">
                  <li class="menu-title">User: {{username}}</li>
                  <li>
                    <label class="btn-ghost drawer-button" for="menu-toggle" >
                      {%- call icons::get_svg("sliders", 18) -%}
                      Themes
                    </label>
                  </li>
                  <li>
                    <a href="{{base_path}}/api-keys">
                      {%- call icons::get_svg("key", 18) -%}
                      API Keys
                    </a>
                  </li>
                  <li>
                    <nut-confirm-button
                      cancel-text="Cancel"
                      class="text-error"
                      confirm-text="Logout"
                      hx-post="{{base_path}}/logout"
                      hx-swap="none"
                      hx-trigger="logout-confirmed"
                      message="Are you sure about logout?"
                      name="logout"
                      target-event="logout-confirmed"
                      title="Logout"
                    >
                      {%- call icons::get_svg("log-out", 18) -%}
                      Logout
                    </nut-confirm-button>
                  </li>
                </ul>
              </div>
            {%- else -%}
              <label
                class="btn btn-circle btn-ghost drawer-button"
                for="menu-toggle"
                hx-get="{{base_path}}/_layout/themes"
                hx-target="#themes-panel"
                hx-trigger="click once, pointerenter once"
              >
                {%- call icons::get_svg("sliders", 18) -%}
              </label>
            {%- endif -%}
          </div>
        </header>
        <div class="bg-error htmx-send-error-indicator p-2 text-center text-error-content w-full">
          <div class="font-bold">Connection lost</div>
          <div class="text-sm font-light">
            Unable to get response from server. Please check your internet connection and try again.
          </div>
        </div>
        <div class="flex flex-row grow justify-center w-full">
          {%- block page_wrapper -%}
            <div id="page_content" class="box-border lg:p-16 max-w-512 md:p-14 p-3 w-full">
              {%- block content -%} {%- endblock content -%}
            </div>
          {%- endblock -%}
        </div>
        <footer class="bg-base-200 flex flex-row footer p-3">
          <aside>
            {%- let app_info = crate::http::hypermedia::util::get_app_info() -%}
            <a
              class="font-light link text-xs"
              href="{{app_info.repository}}/releases/tag/v{{app_info.version}}"
            >
              <span>Version: {{app_info.version}}</span>
            </a>
          </aside>
        </footer>
      </div>
      <div class="drawer-side">
        <label for="menu-toggle" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="bg-base-200 min-h-full p-4 sm:w-80 w-full z-90">
          <div class="flex flex-row items-center justify-between mb-3">
            <h3 class="font-bold">
              Themes
            </h3>
            <label for="menu-toggle" class="btn btn-circle btn-ghost btn-sm drawer-button">
              {%- call icons::get_svg("x", 16) -%}
            </label>
          </div>
          <div id="themes-panel">
            <div class="flex flex-col gap-4 w-full">
              <div class="h-32 skeleton w-full"></div>
              <div class="h-32 skeleton w-full"></div>
              <div class="h-32 skeleton w-full"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
