{%- extends "+layout.html" -%}
{%- import "icons.html" as icons -%}

{%- block page_title -%}
  NUT Web - Home
{%- endblock page_title -%}

{%- block content -%}
  {%- let base_path = askama::get_value::<crate::config::uri_path::UriPath>("HTTP_SERVER__BASE_PATH")? -%}

  <div class="flex flex-col gap-4" >
    <h1 class="font-bold opacity-60 text-xl tracking-wide">Devices</h1>
    <label class="input input-ghost input-sm opacity-60 tracking-wide">
      {%- call icons::get_svg("search", 16) -%}
      <input
        autocomplete="off"
        id="device-filter-input"
        maxlength="64"
        name="device-filter"
        placeholder="Fuzzy search by device name"
      />
    </label>
    <div
      hx-ext="morph"
      hx-get="{{base_path}}/?section=device_table"
      hx-indicator="#indicator"
      hx-swap="morph:innerHTML"
      hx-trigger="every 15s"
    >
      {%- block device_table -%}
        {%- let base_path = askama::get_value::<crate::config::uri_path::UriPath>("HTTP_SERVER__BASE_PATH")? -%}

        {% if rows_html.is_empty() -%}
          <div id="_empty_row" class="font-light opacity-80 p-16 text-center text-lg">
            No device available
          </div>
        {%- else -%}
          <nut-search-list for="device-filter" id="device_list" class="flex flex-col gap-1 list-none">
            {%- for row in rows_html -%}
                {{row.html | safe}}
            {%- endfor -%}
          </nut-search-list>
        {%- endif -%}
      {%- endblock device_table -%}
    </div>
  </div>
{%- endblock content -%}
