{# Macro for inserting Feather Icons: https://feathericons.com/ #}
{%- macro get_svg(name, size) -%}
  {%- let base_path = askama::get_value::<crate::config::uri_path::UriPath>("HTTP_SERVER__BASE_PATH")? -%}
  <svg class="feather" width="{{size}}" height="{{size}}">
    <use href="{{base_path}}/static/feather-sprite.svg?h={{nut_webgui_client::SPRITE_SHEET.short_hash()}}#{{name}}" />
  </svg>
{%- endmacro -%}

{%- macro get_ac_icon(size) -%}
<svg width="{{size}}" height="{{size}}" viewBox="0 0 4.233333 4.233333">
  <path
     style="fill:none;fill-opacity:1;stroke:currentColor;stroke-width:0.421201;stroke-linecap:butt;stroke-dasharray:none;stroke-opacity:1"
     d="m 0.21006686,2.0421805 c 0,0 0.67751058,-1.015089 1.18176894,-0.9591857 0.8505616,0.094295 0.736365,1.9635921 1.5905778,2.0152376 0.4986896,0.030151 1.0635591,-1.0560519 1.0635591,-1.0560519"
   />
</svg>
{%- endmacro -%}
