{%- import "icons.html" as icons -%}
<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUT Web - {{ title }}</title>
    <link href="/static/style.css" rel="preload" as="style">
    <link href="/static/index.js" rel="preload" as="script">
    <link href="/static/style.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.svg">
    <script>
        "use strict"
        var o = window.matchMedia("(prefers-color-scheme: dark)");
        var f = (o && o.matches && "dark") || "light";
        var t = localStorage.getItem("app_theme") || f;
        if (t) {document.documentElement.setAttribute("data-theme",t)}
    </script>
    <script src="/static/index.js" defer></script>
    {% block head %}{% endblock head %}
</head>

<body hx-boost="true">
    <header>
        <div class="navbar bg-base-100">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl drop-shadow" href="/">
                    <img width="32" height="32" src="/static/icon.svg" alt="icon">
                    <span class="hidden sm:inline-block">
                        NUT Web Monitor
                    </span>
                </a>
            </div>
            <div class="flex-none gap-2">
                <div id="indicator" class="cursor-default htmx-indicator">
                    <div class="tooltip tooltip-bottom text-success" data-tip="Updating page">
                        <span class="text-info loading loading-spinner loading-md cursor-default"></span>
                     </div>
                </div>
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn m-1">
                        {% call icons::get_svg("menu", 24) %}
                        <span>Themes</span>
                    </div>
                    <ul tabindex="0" class="dropdown-content z-[1] p-2 shadow-2xl bg-base-300 rounded-box w-52">
                        <li><theme-selector theme-key="light" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Light">Light</theme-selector></li>
                        <li><theme-selector theme-key="dark" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Dark">Dark</theme-selector></li>
                        <li>
                            <div class="divider mb-0.5 mt-0.5"></div>
                        </li>
                        <li><theme-selector theme-key="autumn" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Autumn">Autumn</theme-selector></li>
                        <li><theme-selector theme-key="business" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Business">Business</theme-selector></li>
                        <li><theme-selector theme-key="cmyk" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Cmyk">Cmyk</theme-selector></li>
                        <li><theme-selector theme-key="corporate" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Corporate">Corporate</theme-selector></li>
                        <li><theme-selector theme-key="cupcake" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Cupcake">Cupcake</theme-selector></li>
                        <li><theme-selector theme-key="dim" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Dim">Dim</theme-selector></li>
                        <li><theme-selector theme-key="dracula" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Dracula">Dracula</theme-selector></li>
                        <li><theme-selector theme-key="emerald" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Emerald">Emerald</theme-selector></li>
                        <li><theme-selector theme-key="fantasy" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Fantasy">Fantasy</theme-selector></li>
                        <li><theme-selector theme-key="forest" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Forest">Forest</theme-selector></li>
                        <li><theme-selector theme-key="halloween" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Halloween">Halloween</theme-selector></li>
                        <li><theme-selector theme-key="lofi" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Lofi">Lofi</theme-selector></li>
                        <li><theme-selector theme-key="night" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Night">Night</theme-selector></li>
                        <li><theme-selector theme-key="nord" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Nord">Nord</theme-selector></li>
                        <li><theme-selector theme-key="sunset" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Sunset">Sunset</theme-selector></li>
                        <li><theme-selector theme-key="synthwave" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Synthwave">Synthwave</theme-selector></li>
                        <li><theme-selector theme-key="winter" class="btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Winter">Winter</theme-selector></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="notifications" class="toast toast-end toast-bottom z-50 w-[200px] max-w-[200px]"> </div>
    <div id="page_content">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>
