{%- import "icons.html" as icons -%}
<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {%- block page_title -%}{%- endblock page_title -%}
    </title>
    <link href="/static/style.css" rel="preload" as="style" />
    <link href="/static/index.js" rel="preload" as="script" />
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="icon" href="/static/icon.svg" />
    <script>
      "use strict";
      var o=window.matchMedia("(prefers-color-scheme: dark)");
      var t=localStorage.getItem("app_theme")||(o&&o.matches&&"dark")||"light";
      if(t){document.documentElement.setAttribute("data-theme",t)}
    </script>
    <script src="/static/index.js" defer></script>
    {%- block page_head -%}{%- endblock page_head -%}
  </head>
  <body>
    <div id="notifications" class="md:w-xs toast w-full z-50"></div>
    <div class="drawer drawer-end">
      <input id="menu-toggle" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col justify-between min-h-screen">
        <header>
          <div class="bg-base-200 navbar shadow-sm">
            <div class="navbar-start">
              <a class="btn btn-ghost text-xl" href="/">
                <img width="32" height="32" src="/static/icon.svg" alt="icon" />
                <span class="hidden mx-1 sm:inline-block">NUT Web Monitor </span>
              </a>
            </div>
            <div class="navbar-end">
              <div class="htmx-send-error-indicator">
                <div class="text-error tooltip tooltip-bottom" data-tip="Network connection lost">
                  {%- call icons::get_svg("wifi-off", 18) -%}
                </div>
              </div>
              <div id="indicator" class="cursor-default htmx-indicator">
                <div
                  class="text-success tooltip tooltip-bottom"
                  data-tip="Updating page"
                >
                  <span class="cursor-default loading loading-md loading-spinner text-info">
                  </span>
                </div>
              </div>
              <label
                class="btn btn-circle btn-ghost drawer-button"
                for="menu-toggle"
                hx-get="/_layout/themes"
                hx-target="#themes-panel"
                hx-trigger="click once, pointerenter once"
              >
                {%- call icons::get_svg("sliders", 18) -%}
              </label>
            </div>
          </div>
        </header>
        <div  class="flex flex-row grow justify-center lg:p-16 md:p-14 p-3 w-full">
          <div id="page_content" class="max-w-384 w-full">
            {%- block content -%} {%- endblock content -%}
          </div>
        </div>
        <footer class="bg-base-200 flex flex-row footer p-3">
          <aside>
            {%- let app_info = crate::http_server::hypermedia::utils::get_app_info() -%}
            <a
              class="font-light link text-xs"
              href="https://github.com/SuperioOne/nut_webgui/releases/tag/v{{app_info.version}}"
            >
              <span>Version: {{app_info.version}}</span>
            </a>
          </aside>
          <div>
        </footer>
      </div>
      <div class="drawer-side">
        <label for="menu-toggle" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="bg-base-200 min-h-full p-4 sm:w-80 w-full">
          <div class="flex flex-row items-center justify-between mb-3">
            <h3 class="font-bold">
              Themes
            </h3>
            <label for="menu-toggle" class="btn btn-circle btn-ghost btn-sm drawer-button">
              {%- call icons::get_svg("x", 16) -%}
            </label>
          </div>
          <div id="themes-panel">
            <div class="flex flex-col gap-4 w-full">
              <div class="h-32 skeleton w-full"></div>
              <div class="h-32 skeleton w-full"></div>
              <div class="h-32 skeleton w-full"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
