<table id="ups_table" class="table table-fixed text-base-content">
  <thead>
    <tr>
      <th class="font-black">Name</th>
      <th class="hidden sm:table-cell font-black">Description</th>
      <th class="font-black w-auto sm:w-36">Status</th>
      <th class="font-black">Battery</th>
      <th class="hidden sm:table-cell font-black">Load</th>
      <th class="hidden sm:table-cell font-black w-32"></th>
    </tr>
  </thead>
  <tbody>
    {% if ups_list.len() < 1 %}
      <tr>
        <td class="text-center py-6" colspan="6">
          No UPS available.
        </td>
      </tr>
    {% else %}

      {% for row in ups_list %}
        <tr class="break-all">
          <td>
            <a class="link font-bold text-primary" href="{{base_path}}/ups/{{row.name}}">
              {{row.name}}
            </a>
          </td>
          <td class="hidden sm:table-cell">
            <span class="font-light text-base-content">{{row.desc}}</span>
          </td>
          <td class="w-auto sm:w-36">
            {% if let Some(status) = row.status %}
              {% if let Some(status_class) = crate::http_server::hypermedia::utils::get_status_class(status) %}
                  <span class="text-{{status_class}} uppercase font-black">{{status}}</span>
              {% else %}
                  <span class="uppercase font-black">{{status}}</span>
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if let Some(charge) = row.charge %}
              {% let battery_level_class = crate::http_server::hypermedia::utils::get_range_class(charge, 60.0, 10.0) %}
              <div>
                <progress class="progress progress-{{battery_level_class}} w-full" value="{{charge}}" max="100"></progress>
              </div>
              <div class="text-center w-full text-primary">{{charge}}%</div>
            {% else %}
              <p class="text-center font-bold">
                N/A
              </p>
            {% endif %}
          </td>
          <td class="hidden sm:table-cell">
            {% if let Some(load) = row.load %}
              {% let load_level_class = crate::http_server::hypermedia::utils::get_range_class(load, 50.0, 75.0) %}
              <div>
                <progress class="progress progress-{{load_level_class}} w-full" value="{{load}}" max="100"></progress>
              </div>
              <div class="text-center w-full text-primary">{{load}}%</div>
            {% else %}
              <p class="text-center font-bold">
                N/A
              </p>
            {% endif %}
          </td>
          <td class="hidden sm:table-cell w-32">
            <a role="button" href="{{base_path}}/ups/{{row.name}}" class="btn btn-sm btn-outline">Details</a>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
