{%- extends "+layout.html" -%}
{%- import "icons.html" as icons -%}
{%- let base_path = askama::get_value::<crate::config::uri_path::UriPath>("HTTP_SERVER__BASE_PATH")? -%}

{%- macro list_item(name, value) -%}
<li class="list-row">
  <div></div>
  <div class="gap-3 grid grid-cols-2 list-col-grows">
    <p class="break-all font-bold text-primary"> {{name}} </p>
    <p> {{ value }} </p>
  </div>
</li>
{%- endmacro -%}

{%- block page_title -%}
  NUT Web - Server
{%- endblock page_title -%}

{%- block content -%}
  <div 
    class="flex flex-col gap-4"
    hx-ext="morph"
    hx-get="{{base_path}}/server/?section=info_cards"
    hx-trigger="every 15s"
    hx-swap="morph:innerHTML"
    hx-indicator="#indicator"
  >
    {%- block info_cards -%}
      {%- for upsd in upsd_html -%}
        {{upsd | safe}}
      {%- endfor -%}

      <div class="content-card flex flex-col gap-4" >
        <h2 class="opacity-60 text-lg tracking-wide">Configs</h2>
        <ul class="list">
          {%- call list_item("log_level", server_config.log_level) -%}
          {%- call list_item("server_key", "SET") -%}

          {%- match server_config.default_theme -%}
            {%- when Some(theme) -%}
              {%- call list_item("default_theme", theme) -%}
            {%- when None -%}
              {%- call list_item("default_theme", "auto") -%}
          {%- endmatch -%}

          {%- match server_config.config_file -%}
            {%- when Some(path) -%}
              {%- call list_item("config_file", path.display()) -%}
            {%- when None -%}
              {%- call list_item("config_file", "NOT SET") -%}
          {%- endmatch -%}

          {%- match server_config.auth -%}
            {%- when Some(auth_cfg) -%}
              {%- call list_item("auth.users_file", auth_cfg.users_file.display()) -%}
            {%- when None -%}
              {%- call list_item("auth.users_file", "NOT SET") -%}
          {%- endmatch -%}

          {%- call list_item("http.listen", server_config.http_server.listen) -%}
          {%- call list_item("http.port", server_config.http_server.port) -%}

          {%- if server_config.http_server.base_path.is_empty() -%}
            {%- call list_item("http.base_path", "/") -%}
          {%- else -%}
            {%- call list_item("http.base_path", server_config.http_server.base_path) -%}
          {%- endif -%}
        </ul>
      </div>
    {%- endblock info_cards -%}
  </div>
{%- endblock content -%}

