{%- extends "+layout.html" -%}
{%- import "icons.html" as icons -%}
{%- let base_path = askama::get_value::<crate::config::uri_path::UriPath>("HTTP_SERVER__BASE_PATH")? -%}

{%- macro list_item(name, value) -%}
<li class="list-row">
  <div></div>
  <div class="gap-3 grid grid-cols-2 list-col-grows">
    <p class="break-all font-bold text-primary"> {{name}} </p>
    <p> {{ value }} </p>
  </div>
</li>
{%- endmacro -%}

{%- block page_title -%}
  NUT Web - Connections
{%- endblock page_title -%}

{%- block content -%}
  <div 
    class="flex flex-col gap-4"
    hx-ext="morph"
    hx-get="{{base_path}}/connection/?section=info_cards"
    hx-trigger="every 15s"
    hx-swap="morph:innerHTML"
    hx-indicator="#indicator"
  >
    {%- block info_cards -%}
      <h1 class="font-bold opacity-60 text-xl tracking-wide">UPSD Connections</h1>
      <div class="gap-4 grid grid-cols-1 xl:grid-cols-3  md:grid-cols-2">
        {%- for upsd in upsd_html -%}
          {{upsd.html | safe}}
        {%- endfor -%}
      </div>
    {%- endblock info_cards -%}
  </div>
{%- endblock content -%}

